.login-container {
  background-color: #1b1b4d;
  color: white;
  padding: 40px;
  border-radius: 15px;
  width: 300px;
  margin: 150px auto;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #f2f0f0;
}

.login-container button {
  background-color: #f4cd1e;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #e6b800;
}
